<div class="meta-data-section">
    @if(isLoadingData) {
        Loading...
    } @else {
        <p class="main-text margin-0">{{metaData.mainText}}</p>
        <p class="sub-text margin-0">{{metaData.subText}}</p>
        
        @if(metaData?.metaData?.type == 'tree_map') {
          <app-tree-map-chart 
          [series]="metaData.metaData.data.series" 
          [colors]="metaData.metaData.data.colors">
        </app-tree-map-chart>
      } @else if(metaData?.metaData?.type == 'multiple_area_chart') {
        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
          <div *ngFor="let chartData of object.keys(metaData.metaData.data.charts)" style="width: 196px;">
            <p class="margin-0 font-xs open-data-grey-800 text-center">{{ chartData }}</p>
            <app-area-chart 
              [series]="metaData.metaData.data.charts[chartData].series" 
              [categories]="metaData.metaData.data.charts[chartData].categories" 
              [colors]="metaData.metaData.data.charts[chartData].colors"
              [height]="196">
            </app-area-chart>
          </div>
        </div>
      }
      @else if(metaData?.metaData?.type == 'optional_stacked_bar_chart') {
        <app-bar-chart [optional]="true" [data]="metaData.metaData.data"></app-bar-chart>
      }

      @else if(metaData?.metaData?.type == 'multiple_donut_charts') {

        <div style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 20px;">
          <div *ngFor="let key of object.keys(metaData.metaData.data)">
            <app-donut-chart 
              [series]="metaData.metaData.data[key].series" 
              [labels]="metaData.metaData.data[key].labels" 
              [colors]="metaData.metaData.data[key].colors"
              [showLegend]="false"
              [width]="160">
            </app-donut-chart>
            <p class="margin-0 font-xs open-data-grey-800 text-center">{{ key }}</p>
          </div>
        </div>
      }
      @else {
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [grid]="chartOptions.grid"
            [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions"
            [responsive]="chartOptions.responsive"
            [xaxis]="chartOptions.xaxis"
            [legend]="chartOptions.legend"
            [fill]="chartOptions.fill"
            [colors]="chartOptions.colors"
          ></apx-chart>
        }
        <p class="footnote margin-0">{{metaData?.footnote}}</p>

        <p class="font-xs font-bold" style="text-align: right;">{{metaData?.dataPeriod}}</p>
    }
  </div>
  