<div class="selection-main-container">
    <app-date-range-picker 
        [dateRange]="dateRange" 
        [availableDateRange]="availableDateRange" 
        (selectedDateRange)="setDateRange($event)">
    </app-date-range-picker>
    <button nz-button nzType="primary" (click)="showModal()">
        <span>Filters</span>
      </button>
      <nz-modal
        [(nzVisible)]="isVisible"
        nzWidth="720px"
        [nzTitle]="modalTitle"
        [nzContent]="modalContent"
        [nzFooter]="modalFooter"
        (nzOnCancel)="handleClose()"
      >
        <ng-template #modalTitle>Filters</ng-template>
  
        <ng-template #modalContent>
            <div class="filter-dialog-container">

                <div class="pincode-level-toggle-section">
                    <p class="title margin-0">Pincode level view</p>
                    <nz-switch [(ngModel)]="isPincodeView" (ngModelChange)="updatePincodeView($event)" nzSize="small"></nz-switch>
                </div>
                @if(isPincodeView) {
                    <div class="selection-container">
                        <div class="title margin-0">Choose City</div>
                        <nz-select [nzDisabled]="!isPincodeView" nzsize="small" [(ngModel)]="selectedCity" (ngModelChange)="updateValue('city')">
                            @for(option of cities; track option) {
                            <nz-option [nzValue]="option" [nzLabel]="option"></nz-option>
                            }
                        </nz-select>
                    </div>
                }
            
                <div class="selection-container">
                    <div class="title margin-0">Choose Day type</div>
                    <nz-select nzsize="small" [(ngModel)]="selectedDayType" (ngModelChange)="updateDayType($event)">
                        @for(option of dayTypes; track option) {
                        <nz-option [nzValue]="option" [nzLabel]="option"></nz-option>
                        }
                    </nz-select>
                </div>
            
                <div class="selection-container time-slider-container">
                    <!-- <nz-divider nzText="Choose Time Interval" nzOrientation="left"></nz-divider> -->
                    <div class="title margin-0">Choose Time Interval</div>
                    <div style="display: flex; place-content: center; gap: 16px;">
                        <i class="fa-solid fa-sun"></i>
                        <div style="display: flex; flex-direction: column; place-content: center; align-items: center;">
                            <div class="time-slider-filter">
                                @for(option of timeIntervals.slice(1,timeIntervals.length); track option) {
                                    <div [ngClass]="{'slider-step': true, 'active': (selectedInterval == option) ||overallSelected}"
                                    (click)="updateTimeInterval(option)"></div>
                                }
                            </div>
                            <div class="slider-text">
                                <p class="margin-0 time-txt">3am</p>
                                <p class="margin-0 time-txt">6am</p>
                                <p class="margin-0 time-txt">8am</p>
                                <p class="margin-0 time-txt">10am</p>
                                <p class="margin-0 time-txt">12pm</p>
                                <p class="margin-0 time-txt">3pm</p>
                                <p class="margin-0 time-txt">6pm</p>
                                <p class="margin-0 time-txt">9pm</p>
                                <p class="margin-0 time-txt">12am</p>
                                <p class="margin-0 time-txt">3am</p>
                            </div>
                        </div>
                        <i class="fa-solid fa-moon"></i>
                        @if(!overallSelected) {
                            <div class="reset-btn cursor-pointer" (click)="updateTimeInterval('Overall')">
                                <i class="fa-solid fa-rotate-right"></i>
                                Reset
                            </div>
                        }        
                    </div>
                </div>
            </div>
        </ng-template>
  
        <ng-template #modalFooter>
          <button nz-button nzType="default" (click)="handleClose()">Close</button>
          <button nz-button nzType="primary" (click)="handleReset()" [nzLoading]="isConfirmLoading">Reset All</button>
        </ng-template>
      </nz-modal>
</div>
