@import 'breakpoints';
@import "colors";

.detail-section-container {
    display: flex;
    flex-direction: row;
    place-content: space-evenly;
    flex-grow: 1;
    height: inherit;
    
    .map-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        place-content: center;
        position: relative;
        height: inherit;
        flex-grow: 1;
    }

    .inner-map-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        place-content: center;
        position: relative;
        height: inherit;
        width: 100%;
        flex-grow: 1;

        @include media-below('md') {
            align-items: flex-start;
        }
    }


    @include media-below('md') {
        flex-direction: column;
        gap: 24px;

        .inner-map-section {
            height: 100%;
            width: 100%;
        }
    }

    %options-section {
        position: absolute;
        padding: 12px 16px;
        width: 320px;
    }

    .map-options-section {
        @extend %options-section;
        display: flex;
        flex-direction: column;
        gap: 16px;
        right: 0px;
        top: 0px;
    }


    %shadow-container {
        box-shadow: 1px 10px 9px -5px rgba(0, 0, 0, 0.38);
        -webkit-box-shadow: 1px 10px 9px -5px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 1px 10px 9px -5px rgba(0, 0, 0, 0.38);
        border-radius: 8px;
        padding: 12px;
        background: rgba(255, 255, 255, 0.9);
    }

    .view-options-section {
        @extend %shadow-container;
        // top: 8px;
        // right: 8px;
        // position: absolute;
        // padding: 12px 16px;
        // width: 540px;
    }

    .insight-options-section {
        // @extend %options-section;
        // left: 8px;
        // top: 8px;
        @extend %shadow-container;
      
        .option {
          padding: 4px 16px;
          margin: 0 4px;
          border-radius: 4px;
      
          &:hover {
            background-color: #e6e6e6;
          }
        }
      }

      .insight-option-icon-section {
        display: flex;
        place-content: center;
        align-items: center;
        background: #1c75bc;
        transform: rotate(-45deg);
        height: 22px;
        width: 22px;
        border-radius: 50% 50% 50% 0;
        padding: 4px;
        // margin: -30px 0 0 -22px;
      
        .insight-pointer-icon {
          transform: rotate(45deg);
          color: #1C75BC;
          background: white;
          border-radius: 50%;
          font-size: 10px !important;
          padding: 2px;
          height: 16px;
          width: 16px;
          display: flex;
          place-content: center;
          align-items: center;
        }
      }
      
      .insight-options-icon-section:after {
        content: "";
        width: 27px;
        height: 27px;
        margin: 8px 0 0 7px;
        // background: #fdfdfd;
        position: absolute;
        border-radius: 50%;
        top: -4px;
        left: -3px;
        z-index: 9;
      }
      
      .insight-options-icon-section i {
        font-size: 20px;
        position: absolute;
        z-index: 99;
        transform: rotate(45deg);
        margin: 3px 7px;
      }

    .options-container {
        display: flex;
        flex-direction: column;
        gap: 4px;

        label {
            color: #545454 !important;
            font-size: 14px;
            line-height: 18px;

            i {
                font-size: 12px;
            }
        }
    }
}


.map-visual-btn {
    width: fit-content;
    position: absolute;
    right: 20px;
    bottom: 8px;
    border-radius: 12px;
    border: 2px solid $blue700;
    color: $blue700;
    font-size: 14px;
    font-weight: 700;
}

.map-type-button {
    color: #1c75bc !important;
    border: 1px solid #1c75bc;
    background-color: white;
    height: 32px;

    &:hover {
        color: #fff !important;
        background-color: #1c74bc8c;
    }

    &.active {
        color: #fff !important;
        background-color: #1c75bc;
    }
}

.map-visual-button {
    color: #00b8d4 !important;
    border: 1px solid #00b8d4;
    background-color: white;
    height: 32px;

    &:hover {
        color: #fff !important;
        background-color: #5ed5e7;
    }

    &.active {
        color: #fff !important;
        background-color: #00b8d4;
    }
}

.map-control-inner-section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .map-control-title {
        position: absolute;
        top: -20px;
        left: 0px;
        font-size: 10px;
        font-weight: 600;
        text-transform: uppercase;
        background: rgba(255, 255, 255, 0.7);
        color: #8392a5;
        padding: 2px 4px;
        border-radius: 4px;

        @include media-below('sm') {
            top: -18px;
            font-size: 8px;
            font-weight: 400;
        }
    }
}

.btn-lt {
    border-radius: 8px 0 0 8px !important;
    font-size: 11px;
    width: 120px;
    padding: 5px 0;
    padding: 4px 0;
    cursor: pointer;

    @include media-below('sm') {
        width: 84px;
        font-size: 10px;
    }
}

.btn-rgt {
    border-radius: 0 8px 8px 0 !important;
    font-size: 11px;
    width: 120px;
    padding: 5px 0;
    cursor: pointer;

    @include media-below('sm') {
        width: 84px;
        font-size: 10px;
    }
}

.map-type-button {
    color: #1c75bc !important;
    border: 1px solid #1c75bc;
    background-color: white;
    height: 32px;

    &:hover {
        color: #fff !important;
        background-color: #1c74bc8c;
    }

    &.active {
        color: #fff !important;
        background-color: #1c75bc;
    }
}

