open_dashboard/dashboard/migrations/__pychache__/
open_dashboard/open_dashboard/__pychache__/
**/__pycache__/
.venv
.idea
**.logs
**/logs/
**/log
**.env
.venv
**venv**
credentials.json
token.json
APP/poetry.lock
Init_DB/poetry.lock
APP/static/*
**.ipynb_checkpoints
*.parquet