{% extends "templates/layout/base.html" %}
{% block title %}ONDC - B2C{% endblock %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive-styles.css' %}">
{% endblock %}
{% block pagetitle %}
  {% include 'apps/dashboard/web/html/include/b2c_title.html' %}
{% endblock %}
{% block top_card_filters %}
  {% include 'apps/dashboard/web/html/include/b2c_top_card_filters.html' with include_category=include_category %}
{% endblock %}

{% block content %}
<div class="wrapper">
  {% include 'apps/dashboard/web/html/include/overall_summary_cards.html' with include_category=include_category %}
  <div id="map_wrapper" class="mg-t-15 pos-relative">
    <div id="indiaMaps">
      {% include 'apps/dashboard/web/html/include/main_map.html' %}
    </div>
    <div id="mySidenav" class="summary_nav tx-11">
      {% include 'apps/dashboard/web/html/include/right_panel_index.html' with include_category=include_category%}
    </div>
  </div>
</div>
{% include 'apps/dashboard/web/html/include/key_insight.html'  with include_category=include_category%}
{% include 'common/web/download_data/html/modal_download_data_table.html' with include_category=include_category %}
{% endblock %}

{% block javascript %}

<script>var includeCategory = {{ include_category|lower }}; </script>

<script defer type="module" src="{% static 'map_lib/state_map_script.js'%}"> </script>
<script defer type="module" src="{% static 'map_lib/india_map_script.js'%}"></script>

<script type="text/javascript" src="{% static 'js/utils.js'%}"></script>

<script defer type="module" src="{% static 'map_lib/custom-chart.js'%}"></script>
<script src="{% static 'js/key-insights.js'%}"></script>
<script src="{% static 'js/custom.js'%}"></script>
{% endblock %}
