<div class="key-insight-main-container">
  @if(elems && elems.length) {
    <app-key-insights-carousel [items]="elems"></app-key-insights-carousel>
  }
  <div class="input-section">
    <p class="text open-data-blue-700">Ask me anything!
      <span class="font-xs open-data-red-400"> (Coming soon ...)</span>
    </p>

    <div class="input-container">
      <div style="flex-grow: 1;
      padding: 12px;
      color: #727272;"> Write here...</div>
      <i class="fa-solid fa-circle-arrow-up open-data-grey-400" style="font-size: 24px;"></i>
    </div>  
  </div>


</div>