<!-- <button nz-button nzType="primary" (click)="open()">Open</button>
<nz-drawer
      [nzClosable]="false"
      [nzVisible]="visible"
      [nzPlacement]="placement"
      (nzOnClose)="close()"
    >
      <ng-container *nzDrawerContent>
        <p>Some contents...</p>
        <p>Some contents...</p>
        <p>Some contents...</p>
      </ng-container>
    </nz-drawer> -->

  
<div class="key-insight-main-container">
  <div class="carousel">
    <div class="carousel__list">
      <div
        *ngFor="let card of elems"
        class="carousel__item"
        [class.carousel__item_active]="card.active"
        (click)="onCardClick(card.pos)"
        [attr.data-pos]="card.pos"
      >
       {{card.cardText}}
        <!-- <p>Card {{ card.pos }}</p> -->
      </div>
    </div>
  </div>

  @for(card of elems; track card) {
    @if(card?.active) {
      <div class="active-card-content-section">
        <p class="margin-0 heading">
          {{ card.cardText }}
        </p>
        <p class="margin-0 title">
          {{card.title}}
        </p>
        <p class="margin-0 sub-title">
          {{card.subText}}
        </p>
      </div>

    }
  }

  <app-column-chart></app-column-chart>
</div>