@import 'colors';

::ng-deep .ant-drawer-bottom > .ant-drawer-content-wrapper {
    height: auto !important;
}

.key-insight-main-container {
    padding: 48px 20px 24px;
    background: linear-gradient(45deg, #d0d0d038, transparent);
    min-height: 100vh;

    .carousel {
      padding: 48px 0;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        font-family: Arial;
      
        &__list {
          display: flex;
          list-style: none;
          position: relative;
          width: 100%;
          height: 300px;
          justify-content: center;
          perspective: 300px;
          padding: 0;
        }
        
        &__item {
          display: flex;
          align-items: center;
          text-align: center;
          place-content: center;
          text-shadow: 0 24px 48px rgba(0,0,0,.32),0 10px 20px rgba(0,0,0,.21);
          width: 100%;
          font-size: 18px;
          line-height: 24px;
          font-weight: 700;
          color: #fff;
          // font-size: 0px;
          width: 270px;
          height: 270px;
          border-radius: 12px;
          padding: 12px 24px;
          box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
          position: absolute;
          transition: all .3s ease-in;
          
          &:nth-child(1) {
            background: linear-gradient(45deg, #2D35EB 0%, #904ED4 100%);
          }
          &:nth-child(2) {
            background: linear-gradient(45deg, #2D35EB 0%, #fdbb2d 100%);
          }
          &:nth-child(3) {
            background: linear-gradient(45deg, #2D35EB 0%, #22c1c3 100%);
          }
          &:nth-child(4) {
            background: linear-gradient(45deg, #fdbb2d 0%, #904ED4 100%);
          }
          &:nth-child(5) {
            background: linear-gradient(45deg, #22c1c3 0%, #904ED4 100%);
          }
          
          &[data-pos="0"] {
            z-index: 5;
          }
          
          &[data-pos="-1"],
          &[data-pos="1"] {
            opacity: 0.7;
            // filter: blur(1px) grayscale(10%);
          }
          
          &[data-pos="-1"] {
            transform: translateX(-10vw) scale(.9) rotateY(10deg);
            z-index: 4;
          }
          
          &[data-pos="1"] {
            transform: translateX(10vw) scale(.9) rotateY(-10deg);
            z-index: 4;
          }
          
          &[data-pos="-2"],
          &[data-pos="2"] {
            opacity: 0.4;
            // filter: blur(3px) grayscale(20%);
          }
          
          &[data-pos="-2"] {
            transform: translateX(-20vw) scale(.7) rotateY(10deg);
            z-index: 3;
          }
          
          &[data-pos="2"] {
            transform: translateX(20vw) scale(.7) rotateY(-10deg);
            z-index: 3;
          }
        }
      }
      .active-card-content-section {
        margin: auto;
        display: flex;
        flex-direction: column;
        place-content: center;
        align-items: center;
        gap: 12px;
        max-width: 370px;

        .heading {
          animation: anim-info-head .5s ease-out 0s;
          color: $blue700;
          font-size: .875rem;
          line-height: 1.0625rem;
          margin-top: 0;
          text-align: center;
        }

      }
      .title {
        animation: anim-info-head .5s ease-out 0s;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.5625rem;
        margin-top: 10px;
        text-align: center;
        color: $grey900;
      }

      .sub-title {
        animation: anim-info-head .5s ease-out 0s;
        font-size: .875rem;
        line-height: 1.0625rem;
        margin-top: 8px;
        text-align: center;
        width: 100%;
        color: $grey800;
      }

      .view-btn {
        padding: 8px 16px;
        border-radius: 24px;
        border: 2px solid $blue800;
        background: $blue600;
        color: white;
        font-weight: 700;
        margin-top: 12px;
        cursor: pointer;
      }

      @keyframes anim-info-head {
        0% {
            margin-top: 30px;
            opacity: 0;
        }
        100% {
            margin-top: 0;
            opacity: 1;
        }
      }

      .meta-data-container {
        margin: 12px auto;
        width: 100%;
        max-width: 720px;
      }
}

.card-body-section {

  display: flex;
  flex-wrap: wrap;
  place-content: space-evenly;
  width: 640px;
  margin: auto;
  .inner-card {
      width: 200px;

  }

}
.input-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  place-content: center;
  align-items: center;
  margin: 48px auto;

  .text {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 2.25rem;
    text-align: center;
    margin: 0%;
  }

  .input-container {

    width: 100%;
    max-width: 720px;
    display: flex;
    place-content: center;
    align-items: center;
    background: #f4f4f4;
    padding: 5px 12px;
    border-radius: 48px;
    cursor: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
  }
}