@import 'colors';

::ng-deep .ant-drawer-bottom>.ant-drawer-content-wrapper {
  height: auto !important;
}

.key-insight-main-container {
  padding: 48px 20px 24px;
  // background: linear-gradient(45deg, #d0d0d038, transparent);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .insight-banner {
    border-radius: 0 50px 50px 0;
    padding: 16px 32px;
    color: #ffffff;
    background: #1473e6;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    margin: 12px 0 0 -20px;
    width: fit-content;
    box-shadow: 0 6px 4px rgb(0 0 0 / 30%);
  }

  .active-card-content-section {
    margin: auto;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    gap: 12px;
    max-width: 370px;

    .heading {
      animation: anim-info-head .5s ease-out 0s;
      color: $blue700;
      font-size: .875rem;
      line-height: 1.0625rem;
      margin-top: 0;
      text-align: center;
    }

  }

  .title {
    animation: anim-info-head .5s ease-out 0s;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5625rem;
    margin-top: 10px;
    text-align: center;
    color: $grey900;
  }

  .sub-title {
    animation: anim-info-head .5s ease-out 0s;
    font-size: .875rem;
    line-height: 1.0625rem;
    margin-top: 8px;
    text-align: center;
    width: 100%;
    color: $grey800;
  }

  .view-btn {
    padding: 8px 16px;
    border-radius: 24px;
    border: 2px solid $blue800;
    background: $blue600;
    color: white;
    font-weight: 700;
    margin-top: 12px;
    cursor: pointer;
  }

  @keyframes anim-info-head {
    0% {
      margin-top: 30px;
      opacity: 0;
    }

    100% {
      margin-top: 0;
      opacity: 1;
    }
  }

  .meta-data-container {
    margin: 12px auto;
    width: 100%;
    max-width: 720px;
  }
}

.card-body-section {

  display: flex;
  flex-wrap: wrap;
  place-content: space-evenly;
  width: 640px;
  margin: auto;

  .inner-card {
    width: 200px;

  }

}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  place-content: center;
  align-items: center;
  margin: 48px auto;
  width: 80%;
  max-width: 720px;

  .text {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 2.25rem;
    text-align: center;
    margin: 0%;
  }

  .input-container {

    width: 100%;
    max-width: 720px;
    display: flex;
    place-content: center;
    align-items: center;
    background: #f4f4f4;
    padding: 5px 12px;
    border-radius: 48px;
    cursor: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
  }
}

::ng-deep {
  .mat-drawer-container {
    overflow: unset !important;
  }
}

.loader-area {
  height: 80vh;
  width: 100%;
  display: flex;
  place-content: center;
  align-items: center;
}

.dot-loader {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: $blue700;
  position: relative;
  -webkit-animation: 1.2s grow ease-in-out infinite;
  animation: 1.2s grow ease-in-out infinite;
}

.dot-loader--2 {
  -webkit-animation: 1.2s grow ease-in-out infinite 0.15555s;
  animation: 1.2s grow ease-in-out infinite 0.15555s;
  margin: 0 20px;
}
.dot-loader--3 {
  -webkit-animation: 1.2s grow ease-in-out infinite 0.3s;
  animation: 1.2s grow ease-in-out infinite 0.3s;
}

@-webkit-keyframes grow {
  0%,
  40%,
  100% {
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  40% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}
@keyframes grow {
  0%,
  40%,
  100% {
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  40% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}