<div class="key-insight-main-container">
  @if(isLoading) {
    <div class="loader-area">
      <div class="dot-loader"></div>
      <div class="dot-loader dot-loader--2"></div>
      <div class="dot-loader dot-loader--3"></div>
  </div>

  } @else {
      <app-key-insights-carousel style="flex-grow: 1; display: flex;" [items]="elems"></app-key-insights-carousel>
  }
  <!-- <div class="insight-banner">
    Key Data Insights
  </div> -->
  <div class="input-section">
    <!-- <p class="text open-data-blue-700">Ask me anything!
      <span class="font-xs open-data-red-400"> (Coming soon ...)</span>
    </p> -->

    <div class="input-container">
      <div style="flex-grow: 1;
      padding: 12px;
      color: #727272;"> Ask me anything (Coming soon) ...</div>
      <i class="fa-solid fa-circle-arrow-up open-data-grey-400" style="font-size: 24px;"></i>
    </div>  
  </div>

</div>
<div class="margin-top-12">
  <open-data-footer [smallView]="true"></open-data-footer>
</div>
