<div class="download-data-main-contianer">
    <div class="upper-section">
        <div class="header-section">
            <p class="margin-0 heading">Download Data Table</p>
            <i class="fa-solid fa-xmark close-icon cursor-pointer" (click)="close()"></i>
        </div>
    
        <div class="content-section">
            @if(isDownloading) {
                <div class="downloading-section">
                    <div class="dot-loader"></div>
                    <div class="dot-loader dot-loader--2"></div>
                    <div class="dot-loader dot-loader--3"></div>
                </div>
            }
            <mat-tab-group (selectedTabChange)="setActiveTab($event)">
                <mat-tab label="State wise orders (Physical Orders)">
                    @if(isLoadingStateData) {
                        <div class="loading-container">
                            <div class="dot-loader"></div>
                            <div class="dot-loader dot-loader--2"></div>
                            <div class="dot-loader dot-loader--3"></div>
                        </div>
                    }
                    @else {
                    <div class="table-container">
                        <nz-table [nzFrontPagination]="false" #middleTable nzSize="small"
                            [nzData]="stateWiseDataSource.data">
                            <thead>
                                <tr>
                                    <th *ngFor="let header of stateWiseHeaders"
                                        style="background-color: white; color: #8392a5; font-weight: 500;">
                                        {{header}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of middleTable.data;  let i = index" 
                                    [ngStyle]="{'background': i%2 != 0 ? '#e5e9f2' : '#ffffff'}">
                                    <td style="min-width: 120px" *ngFor="let header of stateWiseHeaders">{{ data[header] }}
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                    }
                </mat-tab>
                <mat-tab label="District wise orders (Physical Orders)">
                    @if(isLoadingDistrictData) {
                        <div class="loading-container">
                            <div class="dot-loader"></div>
                            <div class="dot-loader dot-loader--2"></div>
                            <div class="dot-loader dot-loader--3"></div>
                        </div>
                    }
                    @else {
                    <div class="table-container">
                        <nz-table [nzFrontPagination]="false" #middleTable nzSize="small"
                            [nzData]="districtWiseDataSource.data">
                            <thead>
                                <tr>
                                    <th *ngFor="let header of districtWiseHeaders" style="background-color: white; color: #8392a5; font-weight: 500;">{{header}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of middleTable.data;  let i = index" 
                                    [ngStyle]="{'background': i%2 != 0 ? '#e5e9f2' : '#ffffff'}">
                                    <td style="min-width: 120px" *ngFor="let header of districtWiseHeaders">
                                        {{ 
                                            data[header]
                                        }}</td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                    }
                </mat-tab>
                @if(activeUrl.includes("retail")) {
                    <mat-tab label="Digital Voucher">
                        @if(isLoadingVoucherData) {
                            <div class="loading-container">
                                <div class="dot-loader"></div>
                                <div class="dot-loader dot-loader--2"></div>
                                <div class="dot-loader dot-loader--3"></div>
                            </div>
                        }
                        @else {
                        <div class="table-container">
                            <nz-table [nzFrontPagination]="false" #middleTable nzSize="small"
                                [nzData]="digitalVoucherDataSource.data">
                                <thead>
                                    <tr>
                                        <th *ngFor="let header of digitalVoucherHeaders" style="background-color: white; color: #8392a5; font-weight: 500;">{{header}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of middleTable.data;  let i = index" 
                                        [ngStyle]="{'background': i%2 != 0 ? '#e5e9f2' : '#ffffff'}">
                                        <td style="min-width: 120px" *ngFor="let header of digitalVoucherHeaders">{{
                                            data[header] }}</td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                        }
                    </mat-tab>
                }
            </mat-tab-group>
        </div>
    </div>

    <div class="footer-section">
        <div class="close-btn" (click)="close()">
            Close
        </div>
        @if(!isDownloading) {
            <div class="download-btn" (click)="download()">
                Download
            </div>
        } @else {
        <div class="download-btn disabled">
            <mat-spinner color="#ffffff" [diameter]="24"></mat-spinner>
            Downloading...
        </div>
        }
    </div>
</div>