{% extends "templates/layout/base_misc.html" %}
{% block title %}ONDC - Data Dictionary{% endblock %}
{% load static %}

{% block stylesheet %}
    <style>
        body {
            background-image: unset;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="content-fixed pd-x-20 mg-t-80-f mg-b-20">
        <div class="card">
            <div class="card-header">
                <h4 class="m-0">License</h4>
            </div>
            <div class="card-body">
                <div>
                    <p># Community Data License Agreement - Permissive - Version 2.0</p>
                    <p>This is the Community Data License Agreement - Permissive, Version 2.0 (the "agreement"). Data Provider(s) and Data Recipient(s) agree as follows:</p>

                    <p class="tx-bold tx-15">## 1. Provision of the Data</p>
                    <p>1.1. A Data Recipient may use, modify, and share the Data made available by Data Provider(s) under this agreement if that Data Recipient follows the terms of this agreement.</p>
                    <p>1.2. This agreement does not impose any restriction on a Data Recipient's use, modification, or sharing of any portions of the Data that are in the public domain or that may be used, modified, or shared under any other legal exception or limitation.</p>

                    <p class="tx-bold tx-15">## 2. Conditions for Sharing Data</p>
                    <p>2.1. A Data Recipient may share Data, with or without modifications, so long as the Data Recipient makes available the text of this agreement with the shared Data.</p>

                    <p class="tx-bold tx-15">## 3. No Restrictions on Results</p>
                    <p>3.1. This agreement does not impose any restriction or obligations with respect to the use, modification, or sharing of Results.</p>

                    <p class="tx-bold tx-15">## 4. No Warranty; Limitation of Liability</p>
                    <p>4.1. All Data Recipients receive the Data subject to the following terms:</p>
                    <p>THE DATA IS PROVIDED ON AN "AS IS" BASIS, WITHOUT REPRESENTATIONS, WARRANTIES OR CONDITIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED INCLUDING, WITHOUT LIMITATION, ANY WARRANTIES OR CONDITIONS OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.</p>
                    <p>NO DATA PROVIDER SHALL HAVE ANY LIABILITY FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING WITHOUT LIMITATION LOST PROFITS), HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE DATA OR RESULTS, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>

                    <p class="tx-bold tx-15">## 5. Definitions</p>
                    <p>5.1. "Data" means the material received by a Data Recipient under this agreement.</p>
                    <p>5.2. "Data Provider" means any person who is the source of Data provided under this agreement and in reliance on a Data Recipient's agreement to its terms.</p>
                    <p>5.3. "Data Recipient" means any person who receives Data directly or indirectly from a Data Provider and agrees to the terms of this agreement.</p>
                    <p>5.4. "Results" means any outcome obtained by computational analysis of Data, including for example machine learning models and models' insights.</p>

                </div>

            </div>
        </div>
    </div>
    <div id="loaders" class="overlay" style="display: none;">
        <span class="loader-dot"></span>
    </div>

{% endblock %}
{% block javascript %}

    <script>

    </script>
{% endblock %}




