
    <!-- <mat-drawer-container #matdrawer (backdropClick)="closeBackdrop()">

        <mat-drawer #rightnav role="navigation" position="start">
            <app-right-sidenav (selectOption)="closeBackdrop()"></app-right-sidenav>
        </mat-drawer>
    
        <mat-drawer-content>
            <ng-container >
    
                <app-header (rightSidenav)="rightToggle()"/>
        
                <router-outlet></router-outlet>
            </ng-container>
    
        </mat-drawer-content>
    </mat-drawer-container> -->

    <router-outlet></router-outlet>