@if(isLoading) {
<div class="upper-cards-container">
    <div class="upper-card" style="display: flex; flex-direction: column; gap: 4px;">
        <div class="progress" style="height: 20px; width: 100%; border-radius: 12px"></div>
        <div class="progress" style="height: 20px; width: 100%; border-radius: 12px"></div>
        <div class="progress" style="height: 20px; width: 100%; border-radius: 12px"></div>
    </div>
    <div class="upper-card" style="display: flex; flex-direction: column; gap: 4px;">
        <div class="progress" style="height: 20px; width: 100%; border-radius: 12px"></div>
        <div class="progress" style="height: 20px; width: 100%; border-radius: 12px"></div>
        <div class="progress" style="height: 20px; width: 100%; border-radius: 12px"></div>
    </div>
    <div class="upper-card" style="display: flex; flex-direction: column; gap: 4px;">
        <div class="progress" style="height: 20px; width: 100%; border-radius: 12px"></div>
        <div class="progress" style="height: 20px; width: 100%; border-radius: 12px"></div>
        <div class="progress" style="height: 20px; width: 100%; border-radius: 12px"></div>
    </div>
    <div class="upper-card" style="display: flex; flex-direction: column; gap: 4px;">
        <div class="progress" style="height: 20px; width: 100%; border-radius: 12px"></div>
        <div class="progress" style="height: 20px; width: 100%; border-radius: 12px"></div>
        <div class="progress" style="height: 20px; width: 100%; border-radius: 12px"></div>
    </div>
</div>
} @else {
<div class="upper-cards-container">
    @for(cardData of upperCardData; track cardData;let first = $first, last = $last) {
    @if(cardData.type == 'default') {
    <div class="upper-card">
        <p class="margin-0 font-bolder upper-card-count">{{formatNumber(cardData.count)}}</p>
        <p class="margin-0 heading-text font-bolder card-text-center">
            {{cardData.heading | titlecase}}
            <span class="card-text-center cursor-pointer">
                <mat-icon class="info-icon" [matTooltip]="cardData.tooltipText">
                    info
                </mat-icon>
            </span>
        </p>

        <div class="card-text-center">
            <mat-icon [ngStyle]="{'color': cardData.positive ? '#10b759' : 'red'}"
                [fontIcon]="cardData.positive ? 'trending_up' : 'trending_down'"></mat-icon>

            <p class="margin-0 font-bold open-data-grey-600 heading-subtext">
                <span [ngStyle]="{'color': cardData.positive ? '#10b759': 'red'}" class="font-bolder font-xs">
                    {{cardData.percentageCount}} %
                </span>
                {{prevDateRange}}
            </p>
        </div>
    </div>
    } @else {
    <div class="upper-card">
        <p class="margin-0 font-bolder upper-card-text">{{cardData.mainText | titlecase}}</p>

        <p class="margin-0 font-sm  heading-text font-bolder card-text-center">
            {{cardData.heading}}
            <span class="card-text-center cursor-pointer">
                <mat-icon class="info-icon" [matTooltip]="cardData.tooltipText">
                    info
                </mat-icon>
            </span>
        </p>
    </div>
    }
    }
</div>

<nz-carousel nzAutoPlays nzDotPosition="bottom" style="margin: 24px auto;">
    @for(cardData of upperCardData; track cardData;let first = $first, last = $last) {
        @if(cardData.type == 'default') {
        <div class="upper-card" nz-carousel-content>
            <p class="margin-0 font-bolder upper-card-count">{{formatNumber(cardData.count)}}</p>
            <p class="margin-0 heading-text font-bolder card-text-center">
                {{cardData.heading | titlecase}}
                <span class="card-text-center cursor-pointer">
                    <mat-icon class="info-icon" [matTooltip]="cardData.tooltipText">
                        info
                    </mat-icon>
                </span>
            </p>
    
            <div class="card-text-center">
                <mat-icon [ngStyle]="{'color': cardData.positive ? '#10b759' : 'red'}"
                    [fontIcon]="cardData.positive ? 'trending_up' : 'trending_down'"></mat-icon>
    
                <p class="margin-0 font-bold open-data-grey-600 heading-subtext">
                    <span [ngStyle]="{'color': cardData.positive ? '#10b759': 'red'}" class="font-bolder font-xs">
                        {{cardData.percentageCount}} %
                    </span>
                    {{prevDateRange}}
                </p>
            </div>
        </div>
        } @else {
            <div class="upper-card" nz-carousel-content>
            <p class="margin-0 font-bolder upper-card-text">{{cardData.mainText | titlecase}}</p>
            <p class="margin-0 font-sm  heading-text font-bolder card-text-center">
                {{cardData.heading}}
                <span class="card-text-center cursor-pointer">
                    <mat-icon class="info-icon" [matTooltip]="cardData.tooltipText">
                        info
                    </mat-icon>
                </span>
            </p>
        </div>
        }
        }`
  </nz-carousel>
}