<div id="state-level-map" class="state-level-map-svg">

    <div class="map-control">
        <div class="btn" (click)="zoomIn()" nz-tooltip nzTooltipPlacement="left" nzTooltipTitle="Zoom in">
            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="btn" (click)="zoomOut()" nz-tooltip nzTooltipPlacement="left" nzTooltipTitle="Zoom out">
            <i class="fa-solid fa-minus"></i>
        </div>
        <div class="btn" (click)="resetZoom()" nz-tooltip nzTooltipPlacement="left" nzTooltipTitle="Reset view">
            <i class="fa-solid fa-rotate-left"></i>
        </div>
    </div>

    <div class="map-back-btn-container">
        <i class="location-icon fa-solid fa-map-location-dot"></i>
        <div class="detail-section">
            <p class="margin-0 font-md font-bolder">{{selectedState}}</p>
            <div class="back-btn cursor-pointer" (click)="backToIndiaMap()">
                Back to India
                <i class="font-sm fa-solid fa-arrow-rotate-left"></i>
            </div>
        </div>

    </div>
</div>
<div class="tooltip"></div>