/* 1. scale and layout setting at 100% */
@media (resolution: 1dppx) {
    .scale::after {
      content: '100%';
    }
  }
/* 2. scale and layout setting at 125% */
@media (resolution: 1.25dppx) {
    body {
        font-size: 11px;
        font-weight: 400;
    }
    .scale::after {
      content: '125%';
    }
    .nonscaling {
      transform: scale(0.80);
    }
    .ns {
      transform: scale(0.80);
    }
    #map_wrapper {
        height: calc(100vh - 236px);
    }
    .top-card .item {
        max-height: 82px;
    }
    #delivered-orders,
    #india-items-per-order,
    #india-active-pincodes,
    #india-activesellers,
    #total-confirmed-orders {
        font-size: 20px;
    }
    .navbar-right, .item .title-text {
        font-size: 10px;
    }
    #max_orders_delivered_area,
    #max_orders_delivered_category {
        font-size: 18px !important;
    }
    .btn img {
        height: 27px !important;
    }
    .mapTypeStyles {
        bottom: 15px;
        width: 200px;
    }
    #mapLegends {
        bottom: 65px;
    }
    .mapStyles, #statemap-viz {
        width: 190px;
    }
      
    .funFactbtn, .downloadBtn{
        font-size: 14px;
        bottom: 10px;
    }
    .downloadBtn i{
        font-size: 25px;
    }
    .funFactbtn img{
        height: 20px;
    }
    /* #indiaMaps, .summary_nav {
        height: calc(100vh - 229px);
    }     */
    .summary_nav {
        width: 500px;
    } 
    #indiaMaps{
        width: calc(100% - 0px);
    } 
    .dist_title_text {
        font-size: 12px !important;
    }
    .dist_desc {
        font-size: 18px !important;
    }
    .dist_count {
        line-height: 37px !important;
        font-size: 45px !important;
    }
    .crypto-icon-sm {
        height: 30px !important;
        width: 30px !important;
        font-size: 12px;
    }
    .crypto-icon-sm i{
        font-size: 16px;
    }
    .total_count_txt {
        line-height: 40px !important;
        font-size: 45px !important;
        margin: 0px;
    }
  
    /* .map-hover-data {
        height: calc(100vh - 305px);
    } */
    #catSubburst_order_summary{
        transform: scale(0.80);
    }
    #catSubburst_order_summary2{
        transform: scale(0.80);
    }
    #inntraDistrictTree{
        transform: scale(0.80);
    }
    .slide_items .card-text {
        font-size: 14px !important;
    }
    .card.item h3 {
        font-size: 40px;
        line-height: 35px;
    }
    h6 {
        font-size: 12px !important;
    }
    .mapStyles .btn {
        font-size: 11px !important;
    }
    .card-header p {
        font-size: 10px !important;
    }
    .dateRangeTitle {
        font-size: 10px !important;
    }
    .left-menu li .icon-menu {
        width: 31px;
        height: 31px;
    }
  }

  /* 2. scale and layout setting at 125% */
@media (resolution: 1.5dppx) {
    body {
        font-size: 11px !important;
        font-weight: 400;
    }
    .scale::after {
      content: '125%';
    }
    .nonscaling {
      transform: scale(0.80);
    }
    .ns {
      transform: scale(0.80);
    }
    #delivered-orders,
    #india-items-per-order,
    #india-active-pincodes,
    #india-activesellers,
    #total-confirmed-orders {
        font-size: 18px !important;
    }
    .top-card span{
        font-size: 9px !important;
    }
    #filterDaterange span{
        font-size: 9px !important;
    }
    .form-control {
        height: 28px !important;
    }
    #topFilterCollapse {
        margin-top: 3px;
        height: 30px;
    }
    #topFilterCollapse span{
        font-size: 9px;
    }
    #topFilterCollapse i {
        line-height: 14px;
        font-size: 19px;
    }
    .navbar-right, .item .title-text {
        font-size: 12px;
    }
    #max_orders_delivered_area,
    #max_orders_delivered_category {
        font-size: 18px !important;
    }
    .btn img {
        height: 27px !important;
    }
    .mapStyles, #statemap-viz {
        width: 160px;
    }

    .funFactbtn, .downloadBtn{
        font-size: 14px;
        bottom: 10px;
    }
    .downloadBtn i{
        font-size: 25px;
    }
    .funFactbtn img{
        height: 20px;
    }
    #map_wrapper {
        height: calc(100vh - 202px);
    }  

    /* #indiaMaps, .summary_nav {
        height: calc(100vh - 229px);
    }     */
    .summary_nav {
        width: 500px;
    } 
    #indiaMaps{
        width: calc(100% - 0px);
    } 
    /* .map-hover-data {
        height: calc(100vh - 305px);
    } */
    /* #catSubburst_order_summary{
        transform: scale(0.80);
    }
    #catSubburst_order_summary2{
        transform: scale(0.80);
    } */
    /* #inntraDistrictTree{
        transform: scale(0.80);
    } */
    .slide_items .card-text {
        font-size: 12px !important;
    }
    .card.item h3 {
        font-size: 40px;
        line-height: 35px;
    }
    h6 {
        font-size: 12px !important;
    }
    .mapTypeStyles {
        bottom: 15px;
        width: 160px;
    }
    .mapStyles .btn {
        font-size: 11px !important;
    }
    .card-header p {
        font-size: 10px !important;
    }
    .dateRangeTitle {
        font-size: 10px !important;
    }
    .left-menu li .icon-menu {
        width: 31px;
        height: 31px;
    }
    .top-districts {
        margin-top: 10px;
    }
    .total_count_txt {
        line-height: 9px !important;
        font-size: 25px !important;
        margin: 10px 0px 20px 0px;
    }
    #stHoverText h6 {
        font-size: 9px !important;
        text-transform: capitalize;
    }
    .left-menu li a {
        height: 45px;
    }
    .left-menu li .icon-menu {
        width: auto;
        height: 20px;
    }
    .containerTab {
        position: absolute;
        top: 55px;
    }

}
@media (resolution: 1.75dppx) {
    #map_wrapper {
        height: calc(100vh - 185px);
    }
    #mapLegends {
        display: none !important;
    }
    #max_orders_delivered_area, #max_orders_delivered_category {
        font-size: 18px !important;
        line-height: 20px;
        max-height: 30px;
    }
    .item .title-text {
        font-size: 9px;
    }
    .item span {
        font-size: 8px;
    }
}

@media (max-width: 1440px) {

    #card-total-order h3,
    #card-total-sellers h3,
    #card-total-activepincode h3,
    #card-total-activesellers h3 {
        font-size: 40px;
        height: 40px;
        margin: 0px 0px 5px 0px;
    }

    #card-total-order h6,
    #card-total-sellers h6,
    #card-total-activepincode h6,
    #card-total-activesellers h6 {
        font-size: 12px;
    }

    #card-total-order h5,
    #card-total-sellers h5 {
        margin: 10px 0px;
    }

    #order_demand_chart,
    #item_delivered_chart {
        width: 75px;
        max-width: 75px;
        height: 28px;
        margin: 6px 0px 0px 0px;

    }
    .item .title-text {
        font-size: 12px;
    }
    .top-card .item span {
        font-size: 10px;
    }
    #max_orders_delivered_area, #max_orders_delivered_category {
        font-size: 25px;
    }
    .card.item h3 {
        color: #1C75BC;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        margin: 0px;
        line-height: 35px;
    }
    .card.item p {
        font-size: 14px;
    }
    .card-text {
        font-size: 16px;
        margin: 0;
    }
    .card-text span {
        color: #10b759;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        line-height: 28px;
    }
    .card-text h4 {
        color: #1C75BC;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }
    .card-text i.mdi-arrow-up-bold {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        color: #10b759;
        margin-right: 2px;
    }
    .card-text i.mdi-arrow-down-bold {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        color: #dc3545;
        margin-right: 2px;
    }

}

@media (max-width: 1366px) {
    .content-fixed {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .mapSettings {
        width: 185px;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 99;
    }
    .indiaMaps {
        width: calc(100% - 75px);
    }
    #map_wrapper {
        height: calc(100vh - 236px);
    }
    #indiaMaps {
        width: calc(100% - 0px) !important;
        /* height: calc(100vh - 233px); */
    }
    /* #indiaMaps svg {
        height: 600px;
        width: 100%;
        position: relative;
    } */
    .summary_nav {
        width: 450px !important;
        /* height: calc(100vh - 233px); */
    }
    /* .map-hover-data {
        height: calc(100vh - 269px);
    } */
    #indiaTableContainer {
        max-height: 344px;
    }
    .left-menu li .icon-menu {
        width: auto;
        height: 25px;
    }
    #orders-metrics-btn,
    #active-sellers-metrics-btn,
    #zonal-commerce-metrics-btn {
        width: 45px !important;
        height: 45px !important;
    }

    #orders-metrics-btn img,
    #active-sellers-metrics-btn img,
    #zonal-commerce-metrics-btn img {
        height: 25px !important;
    }

    #card-total-order h3,
    #card-total-sellers h3,
    #card-total-activepincode h3,
    #card-total-activesellers h3 {
        font-size: 35px;
        height: 40px;
        margin: 0px 0px 5px 0px;
    }

    #card-total-order h6,
    #card-total-sellers h6,
    #card-total-activepincode h6,
    #card-total-activesellers h6 {
        font-size: 12px;
    }

    #card-total-order h5,
    #card-total-sellers h5 {
        margin: 10px 0px;
    }

    #order_demand_chart,
    #item_delivered_chart {
        width: 80px;
        height: 28px;
        margin: 6px 0px 0px 0px;

    }
    #indiamap-type .btn, #indiamap-viz .btn {
        padding: 3px 5px;
    }
    #each-state-chloro-btn.btn, #each-state-bubble-btn.btn {
        padding: 3px 5px;
    }
    #mapFilterData {
        display: none;
    }

    .top-card .item {
        padding: 0px 10px !important;
        border-right: 1px solid rgba(72, 94, 144, 0.16);
    }

    .top-card .item:last-child {
        padding: 0px 10px !important;
        border-right: 0px solid rgba(72, 94, 144, 0.16);
    }

    #delivered-orders,
    #india-items-per-order,
    #india-active-pincodes,
    #india-activesellers,
    #total-confirmed-orders {
        font-size: 18px !important;
    }

    h4 {
        font-size: 18px !important;
    }

    #max_orders_delivered_area,
    #max_orders_delivered_category {
        font-size: 18px !important;
    }
    .negPosValue {
        font-size: 11px;
    }
    .mapStyles, #statemap-viz {
        width: 196px;
      }
      
    .downloadBtn {
        bottom: 15px;
        height: 35px;
        padding: 5px 10px;
        font-size: 16px;
        line-height: 20px;
    }
    .downloadBtn i {
        font-size: 16px !important;
        margin: 0px 5px 0px 0px;
    }
    .funFactbtn {
        bottom: 15px;
        right: 10px;
        height: 35px;
        padding: 5px 10px;
        font-size: 16px;
        line-height: 20px;
    }
    .funFactbtn img{
        height: 20px;
    }
    .keyInsight-indicator span{
        top: -35px;
        left: -15px;
    }
    .item .title-text {
        font-size: 12px;
    }
    .dist_title_text {
        font-size: 12px !important;
    }
    .dist_desc {
        font-size: 16px !important;
    }
    .dist_count {
        line-height: 37px !important;
        font-size: 45px !important;
    }
    .total_count_txt {
        line-height: 20px !important;
        font-size: 30px !important;
        margin: 5px 0px 0px 0px;
    }
    .crypto-icon {
        height: 25px !important;
        width: 25px !important;
        font-size: 12px !important;
    }
    .crypto-icon i{
        font-size: 15px !important;
        line-height: 20px;
    }
    .top-districts h6 {
        font-size: 10px !important;
    }
    #mapLegends {
        bottom: 55px;
    }
    .card.item h3 {
        color: #1C75BC;
        font-weight: bold;
        font-size: 26px;
        text-align: center;
        margin: 0px;
        line-height: 30px;
    }
    .card.item p {
        font-size: 14px;
    }
    .card-text {
        font-size: 12px;
        margin: 0;
    }
    .card-text span {
        color: #10b759;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        line-height: 28px;
    }
    .card-text h4 {
        color: #1C75BC;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }
    .card-text i.mdi-arrow-up-bold {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        color: #10b759;
        margin-right: 2px;
    }
    .card-text i.mdi-arrow-down-bold {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        color: #dc3545;
        margin-right: 2px;
    }
    .card-footer-text {
        font-size: 10px;
    }
    /* #catSubburst_order_summary{
        transform: scale(0.80);
    }
    #catSubburst_order_summary2{
        transform: scale(0.80);
    } */
    #inntraDistrictTree{
        transform: scale(0.80);
    }
    .mapTypeStyles {
        bottom: 15px;
    }
    .left-menu li a {
        height: 45px;
    }
    .left-menu li .icon-menu {
        width: auto;
        height: 20px;
    }
    .containerTab {
        position: absolute;
        top: 55px;
    }
    .order-range-card {
        grid-template-columns: repeat(auto-fit, minmax(98px, 1fr));
    }
    .top-card .item span {
        font-size: 9px !important;
    }
}


@media (max-width: 1280px) {
    .navbar-header {
        height: 45px !important;
    }
    .custom-filter-container {
        margin: 10px 0px 5px 0px;
    }
    .df-logo img {
        height: 34px;
    }
    .content-fixed {
        margin-top: 45px !important;
    }
    .top-card .item {
        max-height: 65px;
    }
    .item .title-text {
        font-size: 10px;
    }
    .mapTypeStyles {
        bottom: 15px;
        width: 175px;
    }
    /* .mapTypeStyles #stHoverText{
        display: none !important;
    } */
    #delivered-orders, #india-items-per-order, #india-active-pincodes, #india-activesellers, #total-confirmed-orders {
        font-size: 18px !important;
        line-height: 20px;
        max-height: 30px;
    }
    #orders-metrics-btn, #active-sellers-metrics-btn, #zonal-commerce-metrics-btn {
        width: 40px !important;
        height: 40px !important;
    }
    #orders-metrics-btn img, #active-sellers-metrics-btn img, #zonal-commerce-metrics-btn img {
        height: 20px !important;
    }
    #map_wrapper {
        height: calc(100vh - 202px);
    }
    .left-menu li a {
        height: 45px;
    }
    .left-menu li .icon-menu {
        width: auto;
        height: 20px;
    }
    .containerTab {
        position: absolute;
        top: 55px;
    }
}



@media (max-width: 999px) {
    #map_wrapper {
        height: auto;
    }

    .custom-filter{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 55px 0px 5px 0px;

      }
    .custom-filter-container {
        width: 100%;
        margin: 5px 0px 10px 0px;
    }
    #mapFilters {
        display: block;
        position: absolute;
        top: -50px;
        right: 0px;
        z-index: 9;
    }
    .top-filter-box {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding-top: 0px;
        width: 100%;
    }
    .top-filter-box .has-float-label {
        width: 100% !important;
        margin: 10px 0px 0px 0px;
    }
    .top-filter-box .select2-container {
        width: 100% !important;
    }
    .top-filter-box #submitFilter {
        margin: 10px 0px;
        width: 100%;
    }


    #indiaMaps {
        /* display: flex; */
        width: 100% !important;
        height: 100%;
        transition: 0.5s;
    }

    /* svg {
        background-color: transparent;
        height: 500px;
        width: 100%;
    } */

    #indiaMaps {
        width: 100%;
        position: relative;
    }

    #map_wrapper {
        display: flex;
        flex-direction: column;
        width: calc(100% - 0px);
    }

    .mapSettings {
        width: auto;
        position: relative;
        margin: 0 20px;
        z-index: 99;
    }

    .summary_nav {
        height: 100%;
        width: 100%;
        position: relative;
        border-left: 1px solid rgba(72, 94, 144, 0.16);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 0px;
        z-index: 9;
    }

    .mapChartArea {
        display: flex;
        flex-direction: column;
    }

    .tableChartArea {
        width: 100% !important;
    }

    .stateMapArea.sticky {
        position: unset !important;
        margin: 0;
        width: 100% !important;
    }

    .carousel-item img {
        display: none;
    }
    #clearFilterBtn {
        margin: 0;
    }
}

@media (max-width: 992px) {
    .footer {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
    }

    #indiaMaps {
        width: 100% !important;
        min-height: 600px;
    }

    #mySidenav {
        width: 100% !important;
        height: 100% !important;
    }
    .top-card {
        grid-template-columns: repeat(4, 1fr);
    }
    .order-range-card {
        grid-template-columns: repeat(4, 1fr);
        gap: 0;
    }

    #max_orders_delivered_area,
    #max_orders_delivered_category {
        font-size: 14px !important;
    }
    #mapLegends {
        display: none;
    }
    .stateMaps #statemap {
        position: absolute;
        height: 100%;
        width: 100%;
        margin-left: 0px;
    }
    .map-hover-data {
        height: 100%;
    }
    .card.item h3 {
        color: #1C75BC;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        margin: 0px;
        line-height: 35px;
    }
    .card.item p {
        font-size: 15px;
    }
    .card-text {
        font-size: 16px;
        margin: 0;
    }
    .card-text span {
        color: #10b759;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        line-height: 28px;
        margin: 0px 5px !important;
    }
    .card-text h4 {
        color: #1C75BC;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }
    .card-text i.mdi-arrow-up-bold {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        color: #10b759;
        margin-right: 2px;
    }
    .card-text i.mdi-arrow-down-bold {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        color: #dc3545;
        margin-right: 2px;
    }
    h4 {
        font-size: 14px !important;
    }
    #delivered-orders, #india-items-per-order, #india-active-pincodes, #india-activesellers, #total-confirmed-orders {
        font-size: 14px !important;
    }
    .item .title-text {
        font-size: 10px !important;
    }
    /* .item span{
        font-size: 9px !important;
    } */
    #orders-metrics-btn img, #active-sellers-metrics-btn img, #zonal-commerce-metrics-btn img {
        height: 20px !important;
    }
    .navbar-header .navbar-brand {
        width: 200px;
        padding: 0 0 0 20px;
    }
    .navbar-right, .item .title-text {
        font-size: 10px;
    }
    .indiaMaps, .stateMaps {
        margin-top: 30px;
    }
    .mapTitle {
        position: absolute;
        top: 20px;
        right: 15px;
        z-index: 49;
    }
    /* .custom-filter {
        margin: 65px 0px 5px 0px !important;
    } */
    .containerTab {
        position: relative;
        top: 0;
    }
}

@media (min-width: 992px) {
    .navbar-menu {
        align-items: center;
        flex-direction: row;
        padding: 0;
        width: 100%;
        max-width: 780px;
        margin-top: -3px;
    }
}


@media (max-width: 850px) {
    #header .navbar .nav-links {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff;
      height: 100%;
      width: 225px;
      margin: 0;
      padding: 0;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      transform: translateX(-100%);
      transition: 0.4s ease all;
      z-index: 10;
    }
    #header .navbar .nav-links li a {
      color: #000;
    }
    #header .navbar .nav-links li a::after {
      background-color: #000;
    }
    #header .navbar .nav-links button {
      border-color: #000;
      color: #000;
      padding: 0.75rem 1.5rem;
    }
    #header .navbar .nav-links.active {
      transform: translateX(0%);
    }
    #header .navbar i {
      display: block;
    }
    #header .showcase {
      min-height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-align: center;
    }
    #header .showcase h1 {
      font-size: 2.25rem;
    }
  }

@media (max-width: 500px) {
    #header .showcase h1 {
      font-size: 2.1rem;
    }
    #header .showcase p {
      font-size: 0.85rem;
      width: 300px;
    }
  }



@media (max-width: 576px) {
    /* .content-fixed {
        margin-top: 10px !important;
    } */
    .left-menu li .tooltip {
        display: none;
    }
    .stHoverText {
        display: none !important;
    }
    .top-card {
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }

    .top-card .item:nth-child(2) {
        border-right: 0px solid rgba(72, 94, 144, 0.16);
      }

    .top-card .item:nth-child(3) {
        border-top: 1px solid rgba(72, 94, 144, 0.16);
      }
    .top-card .item:nth-child(4) {
        border-right: 0px solid rgba(72, 94, 144, 0.16);
        border-top: 1px solid rgba(72, 94, 144, 0.16);
      }
    .top-card .item:nth-child(5) {
        border-top: 1px solid rgba(72, 94, 144, 0.16);
      }
    .top-card .item:nth-child(6) {
        border-right: 0px solid rgba(72, 94, 144, 0.16);
        border-top: 1px solid rgba(72, 94, 144, 0.16);
      }

    /* Order Range */
    .order-range-card {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        gap: 0;
    }
    .order-range-card .item {
        padding: 10px 0px 0px 0px;
      }

    .order-range-card .item:nth-child(2) {
        border-right: 0px solid rgba(72, 94, 144, 0.16);
      }

    .order-range-card .item:nth-child(3) {
        border-top: 1px solid rgba(72, 94, 144, 0.16);
      }
    .order-range-card .item:nth-child(4) {
        border-right: 0px solid rgba(72, 94, 144, 0.16);
        border-top: 1px solid rgba(72, 94, 144, 0.16);
      }
    .order-range-card .item:nth-child(5) {
        border-top: 1px solid rgba(72, 94, 144, 0.16);
      }
    .order-range-card .item:nth-child(6) {
        border-right: 0px solid rgba(72, 94, 144, 0.16);
        border-top: 1px solid rgba(72, 94, 144, 0.16);
      }
    #downloadDataBtnModal span, .funFactbtn span {
        /* display: none; */
        font-size: 12px;
        font-weight: normal;
        color: #000;
        margin-top: 0px;
    }
      /* #mapFilters {
        display: block;
        position: absolute;
        top: -50px;
        right: 0px;
        z-index: 999;
    } */
    #mySidenav {
        margin-bottom: 70px;
    }
    .mapTypeStyles {
        width: 77px;
        padding: 0px 10px;
        position: unset;
        display: unset;
    }
    .downloadBtn {
        position: unset;
        border-radius: 50%;
        width: 38px;
        height: 38px;
        color: #ddd;
        margin-top: 2px;
        padding: 0px 6px;
        /* display: flex; */
        /* flex-direction: column; */
        /* background-color: unset; */
        /* border: unset; */
        /* color: #000; */
    }
    .downloadBtn i {
        /* color: #61abc2; */
        font-size: 24px !important;
        margin: 0px;
        line-height: 0px;
        margin: 6px 0px;
    }
    .funFactbtn {
        position: unset;
        border-radius: 50%;
        /* width: 40px; */
        height: 40px;
        margin-top: 3px;
        background-color: unset;
        border: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .funFactbtn img {
        /* height: 20px; */
        width: 20px;
        margin-top: 2px;
    }
    .keyInsight-indicator {
        display: none;
    }
    .btnWrapper {
        display: flex;
        justify-content: center;
        border-top: solid 1px #ddd;
        /* border-radius: 5px; */
        height: 45px;
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: calc(100% - 0px);
        z-index: 99;
        /* margin: 10px; */
        background-color: rgba(226, 229, 237, .76);
        -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
        -moz-transition: -moz-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
        transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    }
    .btnWrapper.hidden {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%)
    }
    .btnWrapper span {
        display: none;
    }
    .navigation {
        transition: unset;
    }
        .resmenu_toggle {
        background-color: #1c75bc;
        border: solid 2px #ffc107;
        border-radius: 50%;
        padding: 5px;
        color: #fff;
        font-size: 24px;
        /* width: 38px; */
        /* height: 38px; */
        position: relative;
        top: 1px;
    }
    .resmenu-visible {
        opacity: 1;
        height: 95px;
        padding-top: 10px;
        background-color: #fff;
        position: absolute;
        top: -108px;
        left: 25%;
    }
    .resmenu_top {
        float: unset !important;
        margin-top: 0px;
    }
    #stHoverText {
        display: none !important;
    }
}
     

@media (max-width: 480px) {
    .top-card .item {
        max-height: 70px;
    }
    #delivered-orders, #india-items-per-order, #india-active-pincodes, #india-activesellers, #total-confirmed-orders {
        font-size: 30px !important;
        line-height: 35px;
        max-height: 100%;
    }
    .item .title-text {
        font-size: 12px !important;
        line-height: 20px;
    }
    .negPosValue {
        font-size: 12px;
    }
}

.nonscaling {
    transform-origin: 0 0;
    background-color: wheat;
    /* width: fit-content; */
  }



