#indiaMaps {
    position: relative;
    overflow: hidden;
}

#indiaMaps #indiamap {
    position: absolute;
    height: calc(100% - 0px);
    width: calc(100% - 0px);
}

#indiaMaps,
.summary_nav {
    width: calc(100% - 0px);
    height: 100%;
}

.stateMaps #statemap {
    position: absolute;
    height: calc(100% - 10px);
    width: calc(100% - 285px);
    margin-left: 60px;
}

.mapTypeStyles {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    bottom: 10px;
    right: 5px;
    width: max-content;
    z-index: 9;
}