{% load static %}
<link rel="stylesheet" href="{% static 'plugins/mdi/css/materialdesignicons.min.css' %}">

<link rel="stylesheet" href="{% static 'plugins/ionicons/css/ionicons.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">

<!-- Lib -->
<link rel="stylesheet" href="{% static 'plugins/owlcarousel/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/owlcarousel/owl.theme.default.min.css' %}">

<link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/datepicker.css' %}">

<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">



<link rel="stylesheet" href="{% static 'css/bootstrap-float-label.min.css' %}">
  <!-- main_style CSS -->
<link rel="stylesheet" href="{% static 'css/main_style.css' %}">
<link rel="stylesheet" href="{% static 'css/main_style.dashboard.css' %}">

<link rel="stylesheet" href="{% static 'css/common-styles.css' %}">


<link rel="stylesheet" href="{% static 'plugins/rangeslider/rangeslider.css' %}">