{% load static %}
  <div id="rightMenuTop" class="off-canvas off-canvas-overlay off-canvas-right">
    <div class="off-canvas-header">
      <a href="/" class="df-logo"><img src="{% static 'img/ondc_logo.svg' %}" class="df-logo" alt=""></a>
      <a href="javascript:void(0)" class="close"><i class="mdi mdi-close"></i></a>
    </div>
    <div class="off-canvas-body pd-25 tx-13">
      <ul class="sidebar-nav mg-b-15">
        <li class="nav-label mg-b-15">Navigation</li>
        <li class="nav-item"><a href="/" class="nav-link"><i class="feather-file-text"></i>Home</a></li>
        <li class="nav-label mg-y-15">Domain</li>
        <li class="nav-item show">
          <a href="javascript:void(0)" class="nav-link with-sub active"><i class="mdi mdi-cart-outline lh-0 tx-18"></i> Retail</a>
          <nav class="nav">
            <a href="/summary/" class="navlinks">Summary</a>
            <a href="/" class="navlinks active">Retail B2C</a>
            <a href="/retail_b2b/" class="navlinks">Retail B2B</a>
            <a href="/logistics/" class="navlinks">Logistics</a>
<!--            <a href="/mobility/" class="navlinks">Mobility</a>-->
          </nav>
        </li>
        <li class="nav-label mg-y-15">Quick Links</li>
        <li class="nav-item"><a href="http://172.31.41.128:8083/s/cm35p9a5t000fhrda5e115fab" target="_blank" class="nav-link navlinks"><i class="mdi mdi-comment-edit-outline lh-0 tx-18"></i>Feedback</a></li>
        <li class="nav-item"><a href="/data_dictionary/" target="_blank" class="nav-link navlinks"><i class="mdi mdi-folder-outline lh-0 tx-18"></i>Data Dictionary</a></li>
<!--        <li class="nav-item"><a href="/dq_report" target="_blank" class="nav-link navlinks"><i class="mdi mdi-database-check-outline lh-0 tx-18"></i>Data Quality</a></li>-->
        <li class="nav-item"><a href="/license/" class="nav-link navlinks"><i class="mdi mdi-certificate lh-0 tx-18"></i>License</a></li>
      </ul>
    </div>
  </div>
  <div class="backdrop"></div>
<header class="navbar navbar-header navbar-header-fixed flex-nowrap">
    <div class="navbar-brand">
        <a href="/" class="df-logo">
        <img src="{% static 'img/ondc_logo.svg' %}" class="w-auto" alt="">
        </a>
    </div>
    <div class="navbar-right w-auto">
      <p class="tx-12 tx-medium tx-body mg-b-0 mg-r-30"><i class="mdi mdi-clock-outline tx-12"></i> Last Updated on <span class="text-primary db_updated_date tx-bold">Last Updated on </span></p>
      <a href="#rightMenuTop" class="text-nowrap bd- rounded- bg-light- mn-ht-0 off-canvas-menu tx-18 tx-medium"><span>Menu</span> <i class="mdi mdi-menu mg-l-5 tx-20 lh-0"></i></a>
    </div>
  </header>

  <script>
  var path = window.location.pathname;
  var links = document.querySelectorAll('.sidebar-nav .navlinks');
  links.forEach(function(link) {
    link.classList.remove('active');
    var href = link.getAttribute('href');
    if (href === path) {
      link.classList.add('active');
    }
  });
</script>



