
{% load static %}
<script src="{% static 'plugins/jquery/jquery.min.js'%}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'plugins/notify/bootstrap-notify.min.js'%}"></script>
<script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>
<script src="{% static 'plugins/rangeslider/rangeslider.min.js'%}"></script>
<script src="{% static 'plugins/owlcarousel/owl.carousel.min.js'%}"></script>
<script src="{% static 'plugins/moment/min/moment.min.js'%}"></script>
<script src="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.js'%}"></script>

<script src="{% static 'plugins/daterangepicker/daterangepicker.min.js'%}"></script>
<script src="{% static 'plugins/plotly/plotly-latest.min.js'%}"></script>
<script src="{% static 'plugins/apexcharts/apexcharts.js'%}"></script>
<script src="{% static 'plugins/apexcharts/stock-prices.js'%}"></script>
<script src="{% static 'plugins/select2/js/select2.min.js'%}"></script>
<script src="{% static 'plugins/parsley/parsley.min.js'%}"></script>

<script defer src="{% static 'plugins/d3/d3.js'%}"></script>
<script defer src="{% static 'map_lib/topojson/topojson-client.js'%}"></script>

<script type="text/javascript" src="{% static 'plugins/d3/d3.min.js'%}"></script>
<script type="text/javascript" src="{% static 'map_lib/d3-tree-chart.js'%}"></script>

<script type="text/javascript" src="{% static 'js/common_scripts.js'%}"></script>




<script src="{% static 'plugins/js-cookie/js.cookie.js'%}"></script>

