<div class="data-directory-main-container">
  
    <mat-tab-group>
      <mat-tab label="Data Dictionary">
        <div class="table-section">
          <app-data-directory-detail></app-data-directory-detail>
        </div>
      </mat-tab>
      <mat-tab label="Pincode Mapping">
        <div class="table-section">
          <app-pincode-mapping></app-pincode-mapping>
        </div>
      </mat-tab>
      <mat-tab label="Domain Mapping">
        <div class="table-section">
          <app-domain-mapping></app-domain-mapping>
        </div>
      </mat-tab>
    </mat-tab-group>
</div>
