@if(optional) {
    <nz-select nzsize="small" 
        [(ngModel)]="selectedOption"
        (ngModelChange)="chooseOption($event)">
        @for(option of options; track option) {
            <nz-option [nzValue]="option" [nzLabel]="option"></nz-option>
        }
    </nz-select>
}

@if(!isLoading) {
    <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [grid]="chartOptions.grid"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [responsive]="chartOptions.responsive"
        [xaxis]="chartOptions.xaxis"
        [legend]="chartOptions.legend"
        [fill]="chartOptions.fill"
        [colors]="chartOptions.colors"
        [tooltip]="chartOptions.tooltip"
    ></apx-chart>
}